# Игнорируем файлы виртуального окружения Python
*.pyc
*.pyo

# Исключаем файлы с переменными окружения
.env

# Исключаем файлы и папки, относящиеся к git
.git/
.gitignore

# Информационные файлы
LICENSE
README.md

# Дополнительные файлы
not_tested_main.py

# Исключить файлы IDE
.vscode/
.idea/

# файлы для заданий
2.5-report-yc.csv
img/
deploy.sh