# Исключить логи
logs/

# Исключить временные файлы
*.tmp

# Исключить секреты
.env
yc_token

# Исключить файлы IDE
.vscode/
.idea/

# Информационные файлы
LICENSE

# Дополнительные файлы
not_tested_main.py

# Исключить файлы IDE
.vscode/
.idea/